.nav-link{
color:white !important;
}

.nav-link:hover{
color:blue !important;
background-color: lightcyan;
border-radius: 10px;
}

.navbar-brand:hover{
color:red !important;
font-weight: bold;
}

.rounded{
    border-top:8px solid lightblue;
    border-radius:5px
}

